@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-surface: #FCFBF4;
  --color-primary: #003366;
  --color-secondary: #E8DEF8;
  --color-accent: #6F4E37;

  --radius-napkin: 24px;

  --font-sans: "Inter", sans-serif;
  --font-handwritten: "Caveat", cursive;
}

@layer base {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-surface text-primary font-sans;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .tiptap p.is-editor-empty:first-child::before {
    @apply text-primary/30 pointer-events-none float-left h-0;
    content: attr(data-placeholder);
  }
}